/.env.example
airflow/logs/dag_processor/2026-08-27/dags-folder/sqlserver_to_postgres_dag.py.log
airflow/logs/dag_processor/2026-08-27/dags-folder/sqlserver_to_postgres_dag.py.log
airflow/logs/dag_id=postgres_active_to_postgres/run_id=manual__2026-08-29T10:23:42.256356+00:00/task_id=dlt_ingest_orders/attempt=1.log
airflow/logs/dag_id=postgres_active_to_postgres/run_id=scheduled__2026-08-29T10:15:00+00:00/task_id=dlt_ingest_orders/attempt=1.log
airflow/logs/dag_id=postgres_active_to_postgres/run_id=scheduled__2026-08-29T10:30:00+00:00/task_id=dlt_ingest_orders/attempt=1.log
airflow/logs/dag_id=postgres_active_to_postgres/run_id=scheduled__2026-08-29T10:45:00+00:00/task_id=dlt_ingest_orders/attempt=1.log
airflow/logs/dag_id=simulate_orders/run_id=manual__2026-08-29T09:38:49.240632+00:00/task_id=run_order_simulator/attempt=1.log
airflow/logs/dag_id=simulate_orders/run_id=scheduled__2026-08-29T09:35:00+00:00/task_id=run_order_simulator/attempt=1.log
airflow/logs/dag_id=simulate_orders/run_id=scheduled__2026-08-29T09:40:00+00:00/task_id=run_order_simulator/attempt=1.log
airflow/logs/dag_id=simulate_orders/run_id=scheduled__2026-08-29T09:45:00+00:00/task_id=run_order_simulator/attempt=1.log
airflow/logs/dag_id=simulate_orders/run_id=scheduled__2026-08-29T09:50:00+00:00/task_id=run_order_simulator/attempt=1.log
airflow/logs/dag_id=simulate_orders/run_id=scheduled__2026-08-29T09:55:00+00:00/task_id=run_order_simulator/attempt=1.log
airflow/logs/dag_id=simulate_orders/run_id=scheduled__2026-08-29T10:00:00+00:00/task_id=run_order_simulator/attempt=1.log
airflow/logs/dag_id=simulate_orders/run_id=scheduled__2026-08-29T10:05:00+00:00/task_id=run_order_simulator/attempt=1.log
airflow/logs/dag_id=simulate_orders/run_id=scheduled__2026-08-29T10:10:00+00:00/task_id=run_order_simulator/attempt=1.log
airflow/logs/dag_id=simulate_orders/run_id=scheduled__2026-08-29T10:15:00+00:00/task_id=run_order_simulator/attempt=1.log
airflow/logs/dag_id=simulate_orders/run_id=scheduled__2026-08-29T10:20:00+00:00/task_id=run_order_simulator/attempt=1.log
airflow/logs/dag_id=simulate_orders/run_id=scheduled__2026-08-29T10:25:00+00:00/task_id=run_order_simulator/attempt=1.log
airflow/logs/dag_id=simulate_orders/run_id=scheduled__2026-08-29T10:30:00+00:00/task_id=run_order_simulator/attempt=1.log
airflow/logs/dag_id=simulate_orders/run_id=scheduled__2026-08-29T10:35:00+00:00/task_id=run_order_simulator/attempt=1.log
airflow/logs/dag_id=simulate_orders/run_id=scheduled__2026-08-29T10:40:00+00:00/task_id=run_order_simulator/attempt=1.log
airflow/logs/dag_id=simulate_orders/run_id=scheduled__2026-08-29T10:45:00+00:00/task_id=run_order_simulator/attempt=1.log
airflow/logs/dag_id=simulate_orders/run_id=scheduled__2026-08-29T10:50:00+00:00/task_id=run_order_simulator/attempt=1.log
airflow/logs/dag_id=sqlserver_to_postgres_elt/run_id=scheduled__2026-08-28T00:00:00+00:00/task_id=dbt_run_marts/attempt=1.log
airflow/logs/dag_id=sqlserver_to_postgres_elt/run_id=scheduled__2026-08-28T00:00:00+00:00/task_id=dbt_run_staging/attempt=1.log
airflow/logs/dag_id=sqlserver_to_postgres_elt/run_id=scheduled__2026-08-28T00:00:00+00:00/task_id=dbt_test/attempt=1.log
airflow/logs/dag_id=sqlserver_to_postgres_elt/run_id=scheduled__2026-08-28T00:00:00+00:00/task_id=dlt_ingest_raw/attempt=1.log
airflow/logs/dag_id=sqlserver_to_postgres_elt/run_id=scheduled__2026-08-29T00:00:00+00:00/task_id=dlt_ingest_raw/attempt=1.log
airflow/logs/dag_processor/latest
airflow/logs/dag_processor/2026-08-27/dags-folder/sqlserver_to_postgres_dag.py.log
airflow/logs/dag_processor/2026-08-28/dags-folder/sqlserver_to_postgres_dag.py.log
airflow/logs/dag_processor/2026-08-29/dags-folder/postgres_active_to_postgres_dag.py.log
airflow/logs/dag_processor/2026-08-29/dags-folder/simulate_orders_dag.py.log
airflow/logs/dag_processor/2026-08-29/dags-folder/sqlserver_to_postgres_dag.py.log
airflow/logs/*
